* {
	border: none;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
	margin: 0;
	outline: none;
	padding: 0;
	text-decoration: none;
	transition: 0 linear;
}

html {
	font-size: 100%;
	min-width: 400px;
	overflow-x: hidden;
	scroll-behavior: smooth;
}

/**header**/

.header {
	align-items: center;
	background-color: #ffff;
	box-shadow: 0.5rem 0.5rem rgb(209, 209, 212);
	display: flex;
	height: 80px;
	justify-content: space-between;
	left: 0;
	padding: 2rem 9%;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1000;
}

.logo {
	height: 4rem;
}

.navBar a {
	color: rgb(94, 170, 221);
	font-size: 1rem;
	margin: 0 0.5rem;
}

.navBar a:hover {
	color: rgb(12, 61, 77);
}

.sucheForm {
	align-items: center;
	background: white;
	border-radius: 0.5rem;
	box-shadow: 0.2rem 0.5rem rgb(209, 209, 212);
	display: flex;
	height: 3rem;
	position: absolute;
	right: 1rem;
	top: -115%;
	width: 25rem;
}

.sucheForm.active {
	top: 115%;
}

input {
	color: black;
	font-size: 1rem;
	height: 100%;
	padding: 0 1rem;
	text-transform: none;
	width: 100%;
}

label {
	color: rgb(94, 170, 221);
	cursor: pointer;
	font-size: 1.5rem;
	margin-right: 0.5rem;
}

.header .icons div {
	border-radius: 0.5rem;
	color: rgb(94, 170, 221);
	cursor: pointer;
	font-size: 1.5rem;
	height: 2rem;
	line-height: 2rem;
	margin-left: 0.2rem;
	text-align: center;
	width: 2rem;
}

#menu-btn {
	display: none;
}

.header .shoppingCart {
	background: white;
	border-radius: 0.5rem;
	box-shadow: 0.2rem 0.5rem rgb(209, 209, 212);
	padding: 2rem;
	position: absolute;
	right: -130%;
	top: 115%;
	width: 25rem;
}

.header .shoppingCart.active {
	right: 2rem;
}

.header .shoppingCart .box {
	align-items: center;
	display: flex;
	gap: 1rem;
	padding: 1rem;
	position: relative;
}

.header .shoppingCart .box .fa-times {
	color: rgb(94, 170, 221);
	cursor: pointer;
	font-size: 2rem;
	position: absolute;
	right: 2rem;
	top: 45%;
	transform: translateY(-50%);
}

.header .shoppingCart .box .fa-times:hover {
	color: rgb(97, 97, 100);
}

.header .shoppingCart .box img {
	height: 5rem;
	margin-right: 2rem;
}

.header .shoppingCart .box .content h3 {
	color: black;
	font-size: 1rem;
	padding-bottom: 0.5rem;
}

.header .shoppingCart .box .content span {
	color: black;
	font-size: 0.9rem;
}

.header .shoppingCart .box .content .multiply {
	margin: 0 0.2rem;
}

.header .shoppingCart .total {
	color: rgb(162, 170, 170);
	font-size: 1.2rem;
	text-align: center;
}

.header .shoppingCart .total span {
	color: black;
}

.header .shoppingCart .btn {
	background: rgb(200, 200, 201);
	color: black;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	margin-top: 1.3rem;
	padding: 0.7rem 1rem;
	text-align: center;
	width: 100%;
}

.header .shoppingCart .btn:hover {
	background-color: black;
	color: rgb(200, 200, 201);
}

.header .loginForm {
	background: white;
	border-radius: 0.5rem;
	box-shadow: 0.2rem 0.5rem rgb(209, 209, 212);
	padding: 2rem;
	position: absolute;
	right: -130%;
	top: 115%;
	width: 25rem;
}
.editBox{
	margin-top: 120px;
	
}
.field{
    outline: none;
    border: 2px solid rgba(0,0,0,0);
    width: 100%;
    padding:.5rem 1rem;
    background-color:rgba(230,230,230,.6) ;
    
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: .3s;
}
.field:hover{
    background-color: rgba(0,0,0,.1);
}
.field:focus{
    background-color: #fff;
    border:2px solid rgba(30,85,250,.47)
}
.btn{
    width: 100px;
    height: 50px;
    padding:.5rem 1rem;
    font-size: 1,2rem;
    background-color: rgb(12, 227, 235);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: .3s;
}
.btn:hover{
    background-color: rgb(15, 191, 197);
}
.editBox h2{
    padding-bottom: 10px;
    margin-bottom: 10px;
	justify-items: center;
}

.header .loginForm.active {
	right: 2rem;
}

.header .loginForm h3 {
	color: rgb(94, 170, 221);
	font-size: 1.3rem;
	padding: 1rem;
	text-align: center;
	text-transform: uppercase;
}

.header .loginForm .box {
	border: 1px solid black;
	border-radius: 2rem;
	color: black;
	font-size: 1rem;
	height: 2rem;
	margin: 0.5rem 0.5rem;
	padding: 1.5rem;
	width: 100%;
}

.header .loginForm .remember {
	align-items: center;
	display: flex;
	justify-content: flex-start;

	margin: 1rem 0;
}

.header .loginForm .remember #rememberMe {
	color: rgb(94, 170, 221);
	font-size: 2.5rem;
	height: 0.9rem;
	width: 3rem;
}

.header .loginForm .remember label {
	font-size: 1rem;
}

.header .loginForm .btn {
	background: rgb(200, 200, 201);
	color: black;
	cursor: pointer;
	display: inline-block;
	font-size: 1rem;
	margin-top: 0.2rem;
	padding: 0.7rem 1rem;
	text-align: center;
	width: 100%;
}

.header .loginForm .btn:hover {
	background-color: black;
	color: rgb(200, 200, 201);
}

.header .loginForm p {
	color: black;
	font-size: 1rem;
	margin-top: 0.3rem;
}

.header .loginForm a {
	color: rgb(94, 170, 221);
	font-size: 1rem;
	margin: 0 0.5rem;
}

.header .loginForm a:hover {
	color: rgb(12, 61, 77);
}

/**Container (Body)**/


.containerBox {
	display: grid;
	gap: 3rem;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	margin-top: 5rem;
	padding: 2.5rem 2.5rem 0 2.5rem;
}

.containerBox .box {
	background: #fff;
	border: 2px solid rgb(209, 209, 212);
	border-radius: 5%;
	padding: 2rem;
	text-align: center;
}

.containerBox .box .icon {
	margin-bottom: 0.2rem;
}

.containerBox .box .icon span {
	color: black;
	font-size: 1.5rem;
	margin: 0.3rem 0;
}

.containerBox .box .title {
	color: rgb(94, 170, 221);
	font-size: 1.2rem;
	margin-bottom: 0.3rem;
}

.containerBox .box p {
	color: black;
	font-size: 0.7rem;
	padding: 0.3rem;
}

.containerBox .box a {
	color: rgb(94, 170, 221);
	cursor: pointer;
	display: block;
	font-size: 1rem;
	padding: 10px 0;
	text-decoration: none;
}

.containerBox .box a:hover {
	color: rgb(12, 61, 77);
}

/** footer**/

.footer .containerBox {
	display: grid;
	gap: 3rem;
	grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.footer .containerBox .box {
	background: #ffff;
	border: 2px solid rgb(209, 209, 212);
	border-radius: 5%;
	justify-content: space-between;
	margin-bottom: 1rem;
	text-align: left;
}

.footer .containerBox .box a {
	color: rgb(94, 170, 221);
	cursor: pointer;
	display: block;
	font-size: 0.9rem;
	margin-top: 2px;
	padding: 2px 0;
	text-decoration: none;
}

.footer .containerBox .box a:hover {
	color: rgb(12, 61, 77);
}

.footer .containerBox .box i {
	color: rgb(77, 78, 74);
	margin-right: 0.5rem;
}

.share {
	display: flex;
	justify-content: space-around;
}

.footer .containerBox .box .share a {
	font-size: 1.2rem;

	font-size: 3rem;
	justify-content: space-between;
	justify-items: center;
}
.manubuttons{
	display: flex;
	justify-content: space-around;
	justify-items: center;
}

@media (max-width: 720px) {
	.header {
		height: 60px;
	}

	.logo {
		height: 3rem;
		margin: 0.3rem 0.3rem;
	}

	.header .navBar {
		background: white;
		border-radius: 0.5rem;
		box-shadow: 0.2rem 0.5rem rgb(209, 209, 212);
		left: 0;
		margin: 0 2rem;
		padding: 0.3rem;
		position: absolute;
		right: 0;
		top: 120%;
	}

	.header .navBar a {
		padding: 0.2rem;
	}
}

@media (max-width: 450px) {
	.header {
		height: 50px;
		padding: 0.3rem;
	}

	.logo {
		height: 2rem;
		margin: 0.3rem 0.3rem;
	}

	.header .navBar {
		background: transparent;
		clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
		left: 0;
		margin: 0 2rem;
		padding: 0.3rem;
		position: absolute;
		right: 0;

		top: 120%;
	}

	.header .navBar.active {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}

	.header .navBar a {
		background: rgb(214, 209, 209);
		border-radius: 0.5rem;
		display: block;
		margin: 0.5rem;
		padding: 0.4rem;
	}

	.header .sucheForm.active {
		right: 0.2rem;
		width: 23rem;
	}

	.header .shoppingCart.active {
		right: 0.2rem;
		width: 23rem;
	}

	.header .loginForm.active {
		right: 0.2rem;
		width: 23rem;
	}

	#menu-btn {
		display: inline-block;
	}
}

